<table id="log">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Since Last <br><small>start to start</small></th>
      <th>Duration <br><small>start to end</small></th>
    </tr>
    <tbody>{{outlet}}</tbody>
  </thead>
</table>