<table id="log">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
      <th>Since Last <br><small>start to start</small></th>
      <th>Duration <br><small>start to end</small></th>
    </tr>
    <tbody>
      {{#each reverse}}
        <tr>
          <td>{{formattedStart}}</td>
          <td>{{formattedEnd}}</td>
          <td>{{formattedFrequency}}</td>
          <td>{{formattedDuration}}</td>
        </tr>
      {{/each}}
    </tbody>
  </thead>
</table>
